@model Loja_de_Carros.Models.ViewModels.NotaFormViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Nota</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nota.Numero" class="control-label"></label>
                <input asp-for="Nota.Numero" class="form-control" />
                <span asp-validation-for="Nota.Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nota.DataEmissao" class="control-label"></label>
                <input asp-for="Nota.DataEmissao" class="form-control" />
                <span asp-validation-for="Nota.DataEmissao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nota.Garantia" class="control-label"></label>
                <input asp-for="Nota.Garantia" class="form-control" />
                <span asp-validation-for="Nota.Garantia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nota.ValorVenda" class="control-label"></label>
                <input asp-for="Nota.ValorVenda" class="form-control" />
                <span asp-validation-for="Nota.ValorVenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nota.VendedorId" class="control-label"></label>
                <select asp-for="Nota.VendedorId" class="form-control" asp-items="@(new SelectList(Model.Vendedores, "Id", "Name"))"></select>
                <span asp-validation-for="Nota.VendedorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nota.CarroId" class="control-label"></label>
                <select asp-for="Nota.CarroId" class="form-control" asp-items="@(new SelectList(Model.Carros, "Id", "Modelo"))"></select>
                <span asp-validation-for="Nota.CarroId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nota.ClienteId" class="control-label"></label>
                <select asp-for="Nota.ClienteId" class="form-control" asp-items="@(new SelectList(Model.Clientes, "Id", "Name"))"></select>
                <span asp-validation-for="Nota.ClienteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

